<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>test Me!!!</title>
</head>
<body>
<h1> si si da qui</h1>
    <form action="/testResults" method="POST">
        <p>
            <select name="Modello">
                <option value="first">first</option>
                <option value="second">Second</option>
                <option value="third">Third</option>

            </select>
        </p>
        <p>
            <select name="volume">
                <option value="vol1">CS13</option>
                <option value="vol2">CS23</option>
                <option value="vol3">CS03</option>

            </select>
        </p>
        <p><input class="btn btn-success" type="submit" value="Query the Syd Commcell" /></p>
    </form>
</body>
</html>